body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

    font-size: 14px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
}

thead tr {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #f9f9f9;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Table container and actions */
.table-container {
    margin-top: 20px;
}

.table-actions {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.btn.primary {
    background-color: #27ae60;
}

.btn.primary:hover {
    background-color: #219955;
}

.btn.danger {
    background-color: #e74c3c;
}

.btn.danger:hover {
    background-color: #c0392b;
}

/* Add row form */
#add-row-container {
    margin-bottom: 20px;
}

/* Edit row styling */
tr.editing {
    background-color: #f2f9ff;
}

.editing input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.editing select {
    width: 100%;
    padding: 8px 38px 8px 10px; /* extra right padding for bigger arrow */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    color: #333;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
    appearance: none;
}

#modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 1;
  text-align: center;
}

.modal-header {
    background-color: #e74c3c;
    padding: 15px;
    color: white;
    margin: 0;
}

.modal-body {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
}

.modal-footer {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 10px;
    padding-bottom: 15px;
}

.modal-footer .btn {
    font-weight: bold;
    width: 100px;
}

.modal-footer .btn.primary {
    background-color: rgb(221, 221, 221);
    color: #333;
}

.modal-footer .btn.primary:hover {
    background-color: rgb(202, 202, 202);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: white;
  padding: 5px;
  min-height: 10px;
  width: 100%;  
  max-width: 300px;
  cursor: text;
  gap: 4px;
}

.tag {
  background-color: #e7e7e7;
  border-radius: 30px; 
  display: flex;
  align-items: center;
  font-size: 14px;  
  padding-left: 17px;
  height: 30px;
}

.tag button {
  background-color: #bebebe;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 18px;
  color: #e7e7e7;
  
  height: 20px;
  width: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;   
  padding: 0;  
} 

.tag-container input {
  flex: 1;
  min-width: 100px;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px;
  font-size: 14px;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 70px; 
    justify-content: space-between;
}

.error-message {
    color: red;
    font-size: 12px;
    line-height: 1.2;
    min-height: 16px; 
}

.input-error {
    border: 1px solid red !important;
    outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}
  
.tooltip .tooltiptext {
  display: none;
  background-color: rgb(122, 122, 122);
  color: #fff;
  border-radius: 6px;
  padding: 6px 10px;
  font-weight: 100;

  position: absolute;
  /* z-index: 1; */
  min-width: 360px;

  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  /* margin-top: 12px; */
}

.tooltip .tooltiptext.path {
  left: 150%;
  
  min-width: 100px;
  max-width: 1200px;
  
  white-space: nowrap;       
  overflow-x: auto;
  text-align: left;
  font-family: monospace;
  font-size: 13px;
}

.tooltip .tooltiptext.top {
  left: 50%;
}

.tooltip .tooltiptext.right {
    left: 150%;
}

.path:hover + .tooltip .tooltiptext {
  display: unset;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(122, 122, 122) transparent;
}

.tooltip .tooltiptext.right::after {
    left: 60px;
    margin-left: 0;
}