<table class="table">
  <thead>
    <tr>
      <th>Reporting name</th>
      <th>Reporting root</th>
      <th>Directory</th>
      <th>Instruction</th>
      <th>Match</th>
      <th>Ignore</th>
      <th>Requestor</th>
      <th>Faculty</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr hx-trigger='cancel' 
        class='editing' 
        hx-get="actions/cancel/new"
        hx-target="#add-row-container" 
        hx-swap="innerHTML">
        <td>
          <div class="field-wrapper">
            <input autofocus name='ReportingName' value="{{.Entry.ReportingName}}" 
              class="{{if index .Errors "ReportingName"}}input-error{{end}}">
            <div class="error-message">
              {{with index .Errors "ReportingName"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">
            <input name='ReportingRoot' value="{{.Entry.ReportingRoot}}"
              class="{{if index .Errors "ReportingRoot"}}input-error{{end}}">
            <div class="error-message">
              {{with index .Errors "ReportingRoot"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">
            <input name='Directory' value="{{.Entry.Directory}}"
            class="{{if index .Errors "Directory"}}input-error{{end}}">
            <div class="error-message">
              {{with index .Errors "Directory"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">
            <select name="Instruction"
            class="{{if index .Errors "Instruction"}}input-error{{end}}">
                <option value="backup" {{if eq .Entry.Instruction "backup"}}selected{{end}}>backup</option>
                <option value="nobackup" {{if eq .Entry.Instruction "nobackup"}}selected{{end}}>nobackup</option>
                <option value="tempbackup" {{if eq .Entry.Instruction "tempbackup"}}selected{{end}}>tempbackup</option>
            </select>
            <div class="error-message">
              {{with index .Errors "Match"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">  
            <div x-data="tagInputComponent('{{.Entry.Match}}'.split(' ').map(t => t.trim()).filter(Boolean), 'Match')">
              <div class="tag-container {{if index .Errors "Match"}}input-error{{end}}">
                  <template x-for="(tag, i) in tags" :key="i">
                    <div class="tag">
                      <span x-text="tag"></span>
                      <button type="button" @click="removeTag(i)">&times;</button>
                    </div>
                  </template>
                  <input
                    type="text"
                    x-model="newTag"
                    @keydown.enter.prevent="addTag"
                    @keydown.space.prevent="addTag"
                    @blur="addTag"
                    placeholder="..."
                  >
                </div>
                <input type="hidden" :name="name" :value="tags.join(' ')">
            </div>
            <div class="error-message">
              {{with index .Errors "Match"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">   
            <div x-data="tagInputComponent('{{.Entry.Ignore}}'.split(' ').map(t => t.trim()).filter(Boolean), 'Ignore')">
                <div class="tag-container {{if index .Errors "Ignore"}}input-error{{end}}">
                  <template x-for="(tag, i) in tags" :key="i">
                    <div class="tag">
                      <span x-text="tag"></span>
                      <button type="button" @click="removeTag(i)">&times;</button>
                    </div>
                  </template>
                  <input
                    type="text"
                    x-model="newTag"
                    @keydown.enter.prevent="addTag"
                    @keydown.space.prevent="addTag"
                    @blur="addTag"
                    placeholder="..."
                  >
                </div>
                <input type="hidden" :name="name" :value="tags.join(' ')">
            </div>
            <div class="error-message">
              {{with index .Errors "Ignore"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">  
            <input name='Requestor' value="{{.Entry.Requestor}}"
            class="{{if index .Errors "Requestor"}}input-error{{end}}">
            <div class="error-message">
              {{with index .Errors "Requestor"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
          <div class="field-wrapper">  
            <input name='Faculty' value="{{.Entry.Faculty}}"
            class="{{if index .Errors "Faculty"}}input-error{{end}}">
            <div class="error-message">
              {{with index .Errors "Faculty"}}{{.}}{{end}}
            </div>
          </div>
        </td>
        <td>
            <button class="btn primary" title="submit row"
            hx-put="actions/add"
            hx-include="closest tr">
            <i class="fa-solid fa-check fa-lg"></i>
        </button>
        <button class="btn danger" title="cancel add"
            hx-get="actions/cancel/new">
            <i class="fa-solid fa-xmark fa-lg"></i>
        </button>
        </td>
    </tr>
  </tbody>
</table>