<tr hx-trigger='cancel' 
    class='editing' 
    hx-get="/actions"
    hx-target="closest tr" 
    hx-swap="outerHTML">
    <td>
        <input autofocus name='ReportingName' value="{{.ReportingName}}">
    </td>
    <td>
        <input name='ReportingRoot' value="{{.ReportingRoot}}">
    </td>
    <td>
        <input name='Directory' value="{{.Directory}}">
    </td>
    <td>
        <select name="Instruction">
            <option value="backup" {{if eq .Instruction "backup"}}selected{{end}}>backup</option>
            <option value="nobackup" {{if eq .Instruction "nobackup"}}selected{{end}}>nobackup</option>
            <option value="tempbackup" {{if eq .Instruction "tempbackup"}}selected{{end}}>tempbackup</option>
        </select>
    </td>
    <td>
        <input name='Match' value="{{join .Match}}">
    </td>
    <td>
        <input name='Ignore' value="{{join .Ignore}}">
    </td>
    <td>
        <input name='Requestor' value="{{.Requestor}}">
    </td>
    <td>
        <input name='Faculty' value="{{.Faculty}}">
    </td>
    <td>
        <button class="btn danger" 
            hx-get="/actions/cancel/{{.ID}}">
            Cancel
        </button>
        <button class="btn primary"
            hx-put="/actions/submit/{{.ID}}"
            hx-include="closest tr">
            Save
        </button>
    </td>
  </tr>
  