<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backup Plan UI</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>HumGen and GenGen backup plan</h1>

    <div class="table-container">
        <div class="table-actions">
            <button class="btn primary"
                    hx-get="/actions/add"
                    hx-target="#add-row-container"
                    hx-swap="innerHTML">
                Add Row
            </button>
        </div>
        
        <div id="add-row-container"></div>
        
        <table class="table">
          <thead>
            <tr>
              <th>Reporting name</th>
              <th>Reporting root</th>
              <th>Directory</th>
              <th>Instruction</th>
              <th>Match</th>
              <th>Ignore</th>
              <th>Requestor</th>
              <th>Faculty</th>
              <th>Actions</th>
            </tr>
          </thead>
            <tbody 
                hx-get="/entries" 
                hx-trigger="load, entriesChanged from:body"
                hx-target="this" 
                hx-swap="innerHTML">
            </tbody>
        </table>
    </div>
</body>
</html>