<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backup Plan UI</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <h1>HTMX awfawf Go</h1>

    <button hx-get="/hello" hx-target="#response" hx-swap="innerHTML">
        Say Hello
    </button>

    <div id="response" style="margin-top: 1em;"></div>

    <div>
        <label >Make</label>
        <select name="make" hx-get="/models" hx-target="#models" hx-indicator=".htmx-indicator">
          <option value="audi">Audi</option>
          <option value="toyota">Toyota</option>
          <option value="bmw">BMW</option>
        </select>
      </div>
      <div>
        <label>Model</label>
        <select id="models" name="model">
          <option value="a1">A1</option>
          ...
        </select>
    </div>

    <table class="table delete-row-example">
      <thead>
        <tr>
          <th>Reporting name</th>
          <th>Reporting root</th>
          <th>Directory</th>
          <th>Instruction</th>
          <th>Match</th>
          <th>Ignore</th>
          <th>Requestor</th>
          <th>Faculty</th>
        </tr>
      </thead>
        <tbody 
            hx-get="/entries" 
            hx-trigger="load" 
            hx-target="this" 
            hx-swap="innerHTML">
        </tbody>
    </table>
</body>
</html>