<tr data-id="{{.Entry.ID}}">
    <td>{{.Entry.ReportingName}}</td>
    <td>
      <span class="path">{{ShortenPath .Entry.ReportingRoot}}</span>
      <div class="tooltip">
        <span class="tooltiptext path">{{.Entry.ReportingRoot}}</span>
      </div>
    </td>
    <td>
      <span class="path">{{ShortenPath .Entry.Directory}}</span>
      <div class="tooltip">
        <span class="tooltiptext path">{{.Entry.Directory}}</span>
      </div>
    </td>
    <td>{{.Entry.Instruction}}</td>
    <td>{{.Entry.Match}}</td>
    <td>{{.Entry.Ignore}}</td>
    <td>{{.Entry.Requestor}}</td>
    <td>{{.Entry.Faculty}}</td>
    <td>
      <button class="btn" title="edit row"
            hx-get="actions/edit/{{.Entry.ID}}"
            hx-target="closest tr" 
            hx-swap="outerHTML">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
      </button>
      <button class="btn danger" title="delete row" 
        hx-get="actions/startDelete/{{.Entry.ID}}"
        hx-target="body" 
        hx-swap="beforeend">
        <i class="fa-solid fa-trash fa-lg"></i>
      </button>
    </td>
  </tr>