<tr data-id="{{.Entry.ID}}">
    <td>{{.Entry.ReportingName}}</td>
    <td>{{.Entry.ReportingRoot}}</td>
    <td>{{.Entry.Directory}}</td>
    <td>{{.Entry.Instruction}}</td>
    <td>{{.Entry.Match}}</td>
    <td>{{.Entry.Ignore}}</td>
    <td>{{.Entry.Requestor}}</td>
    <td>{{.Entry.Faculty}}</td>
    <td>
      <button class="btn"
            hx-get="actions/edit/{{.Entry.ID}}"
            hx-target="closest tr" 
            hx-swap="outerHTML">
        Edit
      </button>
      <button class="btn danger" 
        hx-get="actions/startDelete/{{.Entry.ID}}"
        hx-target="body" 
        hx-swap="beforeend">
        Delete
      </button>
    </td>
  </tr>