<tr>
    <td>{{.ReportingName}}</td>
    <td>{{.ReportingRoot}}</td>
    <td>{{.Directory}}</td>
    <td>{{.Instruction}}</td>
    <td>{{join .Match}}</td>
    <td>{{join .Ignore}}</td>
    <td>{{.Requestor}}</td>
    <td>{{.Faculty}}</td>
    <td>
      <button class="btn danger" 
            hx-get="/actions/edit/{{.ID}}" 
            hx-target="closest tr" 
            hx-swap="outerHTML">
        Edit
      </button>
      <button class="btn danger" 
            hx-get="/actions/delete/{{.ID}}" 
            hx-target="closest tr" 
            hx-swap="outerHTML">
        Delete
      </button>
    </td>
  </tr>